---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="posts-item">
    <div class="post-date">
      <span>{{ post.date | date: '%d' }}</span>
      {{ post.date | date: '%B %Y' }}
    </div>
    <div class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h2>{{ post.title }}</h2>
      </a>
      <p>{{ post.content | strip_html | slice: 0, 200 | rstrip }}...</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
